.carousel{

    height: 850px;
    width: 850px;
    margin-left: 50px;
    margin-top: 50px;
}
.text{
    color:black;
    margin-left: 75%;
    margin-top: -50%;
}

.nav-link{
    
}

.navbar{
    
}